form {
  display: flex;
  flex-direction: column;
  width: rem(320px);
}

input {
  height: rem(56px);
  margin-bottom: rem(8px);
  padding: rem(6px) rem(12px);

  transition: background-color 0.1s;

  border: transparent;
  border-radius: rem(12px);

  background: map-get($brand-white, 'light-4');
  
  color: map-get($brand-white, 'primary');

  &:focus {
    outline: none;

    background-color: map-get($brand-white, 'light-3');

    box-shadow: none;
  }
}
