form {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 270px;
}

input {
  height: 56px;
  margin-bottom: 8px;
  padding: 6px 12px;

  transition: background-color 0.1s;

  border: transparent;
  border-radius: 12px;

  background: map-get($brand-white, 2);
  
  color: map-get($brand-white, 10);

  &:focus {
    outline: none;

    background-color: map-get($brand-white, 3);

    box-shadow: none;
  }
}
