.blank-survey {
  margin-top: rem(147px);
  text-align: center;

  &__emo {
    width: rem(64px);
    height: rem(64px);
    margin-bottom: rem(32px);
  }

  &__message {
    font-size: rem(28px);
    font-weight: map-get($font-weight, 'bold');
  }
}
