.form-input-group-auth {
  display: flex;
  flex-direction: column;
  width: rem(320px);
  height: rem(100px);

  &__label {
    margin-bottom: rem(8px);

    color: map-get($brand-white, 'primary');
    font-size: rem(15px);
  }
}
