.form-input-group {
  display: flex;
  flex-direction: column;
  width: rem(320px);
  height: rem(100px);

  &__label {
    margin-bottom: rem(8px);

    color: map-get($brand-white, 10);
    font-size: rem(15px);
  }

  &__forgot-password {
    position: absolute;
    top: calc(50% + 65px);
    right: rem(12px);
  }
}
