.form-input-group {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100px;

  &__label {
    font-family: Neuzeit S LT Std;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 8px;
  }

  &__forgot-password {
    position: absolute;
    right: 12px;
    top: calc(50% + 68px);
  }
}
