.form-input-group {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100px;

  &__label {
    margin-bottom: 8px;

    color: #fff;
    font-family: Neuzeit S LT Std;
    font-size: 15px;
  }

  &__forgot-password {
    position: absolute;
    top: calc(50% + 70px);
    right: 12px;
  }
}
