.survey-time {
  &__date {
    margin-bottom: rem(4px);

    font-size: rem(13px);
    font-weight: map-get($font-weight, 'bold');
    text-transform: uppercase;
  }

  &__day {
    font-size: rem(22px);
    font-weight: map-get($font-weight, 'bold');

    @include media-breakpoint-up(sm) {
      font-size: rem(34px);
    }
  }
}
