$brand-black: (
  primary: #000,
  light-1: #15151a,
  light-2: rgba(0, 0, 0, 0.2)
);

$brand-gray: (
  primary: #15151a,
  light-1: rgb(30, 30, 30),
  light-2: rgba(37, 37, 37, 0.6)
);

$brand-white: (
  primary: #fff,
  light-1: rgba(255, 255, 255, 0.6),
  light-2: rgba(255, 255, 255, 0.5),
  light-3: rgba(255, 255, 255, 0.3),
  light-4: rgba(255, 255, 255, 0.2)
);

$font-weight: (
  bold: 800
);

$font-size: (
  xxs: 13px,
  xs: 15px,
  s: 17px,
  default: 18px,
  m: 20px,
  l: 22px,
  xl: 28px,
  xxl: 34px
);
