$brand-black: (
  primary: #000,
  light: rgba(0, 0, 0, 0.2)
);

$brand-white: (
  primary: #fff,
  light-1: rgba(255, 255, 255, 0.6),
  light-2: rgba(255, 255, 255, 0.5),
  light-3: rgba(255, 255, 255, 0.3),
  light-4: rgba(255, 255, 255, 0.2)
);
